---
---

$header-bg-color: #159957 !default;
$header-bg-color-secondary: #285000 !default;

@import "{{ site.theme }}";


/* Header */
.logo-link {
    white-space: nowrap;
}

/* Main content */
.page-header {     
  padding-top: 4.5rem;
}