---
---

$header-bg-color: #159957 !default;
$header-bg-color-secondary: #285000 !default;

@import "{{ site.theme }}";


/* Header */
.logo-link {
    white-space: nowrap;
}

/* Main content */
.page-header {     
  margin-top: 4.5rem;
}

/* Footer */
.page-footer {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: .8rem;
    text-align: center;
}